{% extends 'base.html.twig' %}

{% block title %}Category index{% endblock %}

{% block body %}
     <section id="category-section" class="p-4 my-container">
        {# {% if errors is defined %}
		{% for error in errors %}
			<div class="alert alert-danger alert-dismissible" role="alert" style="display: inline-block">
                    <div>{{ error }}</div>
                    <button  class="btn-close" data-bs-dismiss="alert" aria-label="Close">X</button>
        	</div>
		{% endfor %}
		{% endif %} #}
		{% if violations is defined %}
		{% for violation in violations %}
			<div class="alert alert-danger alert-dismissible" role="alert" style="display: inline-block">
                    <div>{{ violation }}</div>
                    <button  class="btn-close" data-bs-dismiss="alert" aria-label="Close">X</button>
        	</div>
		{% endfor %}
		{% endif %}
        <h1><b>Categories</b></h1>
        <br>
        <button onclick="addDataToModal(false, 'add')"  class="btn btn-primary" data-bs-toggle="modal"
            data-bs-target="#addCategoryModal"><i class="fa-solid fa-plus"></i>Add</button>
        <table class="table table-hover">
            <thead>
                <tr>
                    <th class="text-center" scope="col">ID</th>
                    <th class="text-center" scope="col">Title</th>
                    <th class="text-center" scope="col" colspan="2">Actions</th>
                </tr>
            </thead>
            <tbody>
                {% for category in categories %}
                    <tr id="{{ category.id }}">
                        <th class="text-center" scope="row">{{ category.id }}</th>
                        <td class="categoryTitle text-center">{{ category.title }}</td>
                        <td>
                            <div class="text-right">
                                <button onclick="addDataToModal({{ category.id }}, 'edit')" 
                                class="btn btn-success" data-bs-toggle="modal" data-bs-target="#editCategoryModal"><i
                                    class="fas fa-pen-to-square"></i>Edit</button>
                            </div>
                        </td>
                        <td>
                             <div class="text-left">
                                <button onclick="addDataToModal({{ category.id }}, 'delete')" 
                                class="btn btn-danger" data-bs-toggle="modal"
                                data-bs-target="#deleteCategoryModal">Delete</button>
                            </div>
                        </td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
    
        <!-- Add Category Modal -->
        <div class="modal fade modal-add" id="addCategoryModal" tabindex="-1" aria-labelledby="exampleModalLabel"
            aria-hidden="true">
            <div class="modal-dialog modal-dialog-centered">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="exampleModalLabel">Add Category</h5>
                        <button  class="btn-close text-white" data-bs-dismiss="modal"
                            aria-label="Close"></button>
                    </div>
                    <div class="modal-body">
                        <form id="addCategoryForm" method="POST" action="/category/new">
                            <input type="hidden" name="token" value="{{ csrf_token('add-item') }}"/>
                            <div class="mb-3">
                                <label for="add-title" class="form-label">Add</label>
                                <input id="add-title" type="text" class="form-control" name="title">
                                <p style="color: red" hidden id='add-title-blank-error'>Please fill in this field</p>
                            </div>
                        </form>
                    </div>
                    <div class="modal-footer">
                        <button  class="btn btn-secondary" data-bs-dismiss="modal">Cancel</button>
                        <button id="add-confirm" onclick="{addCategory()}"  data-bs-dismiss="modal"
                            class="btn btn-success">Confirm</button>
                    </div>
                </div>
            </div>
        </div>


        <!-- Edit Category Modal -->
        <div class="modal fade modal-edit" id="editCategoryModal" tabindex="-1" aria-labelledby="exampleModalLabel"
            aria-hidden="true">
            <div class="modal-dialog modal-dialog-centered">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="exampleModalLabel">Edit Category</h5>
                        <button  class="btn-close text-white" data-bs-dismiss="modal"
                            aria-label="Close"></button>
                    </div>
                    <div class="modal-body">
                        <div class="mb-3">
                            <label for="edit-title" class="form-label">Title</label>
                            <input id="edit-title" type="text" class="form-control" name="edit-title">
                            <p style="color: red" hidden id='edit-title-blank-error'>Please fill in this field</p>
                        </div>
                    </div>
                    <div class="modal-footer">
                        <button  class="btn btn-secondary" data-bs-dismiss="modal">Cancel</button>
                        <button id="edit-confirm" onclick="{editCategory()}"  data-bs-dismiss="modal"
                            class="btn btn-success">Confirm</button>
                    </div>
                </div>
            </div>
        </div>

        <!-- Delete Category Modal -->
        <div class="modal fade modal-delete" id="deleteCategoryModal" tabindex="-1" aria-labelledby="exampleModalLabel"
            aria-hidden="true">
            <div class="modal-dialog modal-dialog-centered">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="exampleModalLabel">Delete Category</h5>
                        <button  class="btn-close text-white" data-bs-dismiss="modal"
                            aria-label="Close"></button>
                    </div>
                    <div class="modal-body">
                        <form method="POST" id="delete-form" action="/">
                        <input type="hidden" name="token" value="{{ csrf_token('delete') }}"/>
                            <div class="mb-3">
                                <label for="delete-title" class="form-label">Title</label>
                                <input id="delete-title" type="text" class="form-control" name="delete-title"
                                    disabled>
                            </div>
                        </form>
                    </div>
                    <div class="modal-footer">
                        <button  class="btn btn-secondary" data-bs-dismiss="modal">Cancel</button>
                        <button id="delete-confirm" onclick="{deleteCategory()}"  data-bs-dismiss="modal"
                            class="btn btn-danger">Confirm</button>
                    </div>
                </div>
            </div>
        </div>

    </section>
    <script>
        categories = {{ categories | json_encode() | raw }}

        function validateBlank(idInput, idConfirmBtn) {
            confirmBtn = $(`#${idConfirmBtn}`)
            input = $(`#${idInput}`)
            blankError = $(`#${idInput}-blank-error`)

            if (input.val() == '') {
                confirmBtn.prop("disabled", true)
                blankError.prop("hidden", false)
            }
            input.on('input', function() {
                if (this.value == '') {
                    blankError.prop("hidden", false)
                    confirmBtn.prop("disabled", true)
                } else {
                    blankError.prop("hidden", true)
                    confirmBtn.prop("disabled", false)
                }
            })
        }

        function addDataToModal(id, action) {
            if (id) {
                let category = categories.find(category => {
                    return category.id == id
                })
                console.log(categories)
                $(`#${action}-title`).val(category.title)
                confirmBtn = $(`#${action}-confirm`)
                confirmBtn.data("category_id", id);
            }
            if (action == 'edit' || action == 'add') {
                validateBlank(`${action}-title`, `${action}-confirm`)
            }
        }

        function deleteCategory() {
            let deleteForm = $("#delete-form")
            let categoryId = $("#delete-confirm").data('category_id')
            deleteForm.prop("action", `/category/${categoryId}/delete`)
            deleteForm.submit()
        }

        async function editCategory() {
            categoryId = $("#edit-confirm").data('category_id')
            input = $("#edit-title").val()
            payload = {
                "title": input
            }
            response = await axios.patch(`http://127.0.0.1:8000/category/api/${categoryId}/edit`, payload)
            error = response.data.error
            if (error) {
               location.reload();
            } else {
                editedCategory = response.data
                categories.forEach(category => {
                    if (category.id == editedCategory.id) {
                        category.title = editedCategory.title
                        $(`#${editedCategory.id}`).find(".categoryTitle").text(editedCategory.title)
                    }
                });
            }
        }

        function addCategory() {
            addCategoryForm = $(`#addCategoryForm`)
            console.log(addCategoryForm.serializeArray());
            addCategoryForm.submit()
        }

        // This code close alert not found
        const alertTrigger = document.getElementById('liveAlertBtn')
        if (alertTrigger) {
            alertTrigger.addEventListener('click', () => {
                alert('Nice, you triggered this alert message!', 'success')
            })
        }
    </script>
{% endblock %}
